p.sample img{
    width:200px;
}

section {
 border-width: 1px;
 border-color: gray;
 border-style:solid;
 border-radius: 8px;
 text-align: center;
 padding: 36px;
 color: white;
 font-weight: bold;
 background-image: url(https://lh3.googleusercontent.com/9sh3VW76K_HQYo227f2xCjJnP1jxbOp1WKDgSx4GhwLczzwa6FSS6_DNc-qLhfgg8jIEUlZ1MgYLdj00saMiz5Js2e_XfILlD-T8A7-VrxijLpOJjVI4DFLNccJosIeoM1QfPQFneEF0s1iatdMMbuDtSVoi8drUSMwZbgUq_eJ9NPU6yOSLRDPghrTweAJpsE09IfT6dPzyOmCXMz7QB3qSBe07VlBrEtkgGGdwfZYRoJ24JaeJKEIiRPM0ox1FpsVxzvgBuYLdqYp6Q_pkZKLUzkdy4S8VgsYxJHwRbMcs7O2lcZXkqjiUbzq_ojNQbEjct7s7uAZScB5MxzlteV03isRw0Lqub4JMkDMYdC9sRoR4QO4v43PeArEFrQO5TLRkKc253nesVYcuRTTBirWdV7e3rkphYzrzZ-LD1Fz9VE2ovrTyRkI8Ec6qm5M96S0z0MoP8Cl5PwdVJVEEuBoMskFGJB-xgu5KX5jLVmuA8D5HASBM8UKRTvk0-PmxHk5caenV2krlxVpOmiv39jS0Tomlen1YAjLyhPPLidq-UsftpWGSj_2MmGPd0pFox4MDeRzVQSC3q-QKz-TLkehLaSLGdGtuMZNEZaDJnj6VoKUYSZh77rKNa3hLBlF5KTNKPmXST-H7WrNwTFih3DKYz8yKauFN8qYpfV1beWJys3gMBFL2cy8XDDmn-JrADz9slUFNeJh9TkewFW4i1mcVLFMZe0nR98IoKTBdRImeO-JY0astbMEhjbMthjL2w2YonuKJFctr34RnwF5dnMQOUeVfAvUBcV7hZhvOpqEICY1Pmb91e0Mbo5EGj6MUt12M1XbxyFKsuN8pnWzS-gVfFAtIra9tx-ATVDjTY2pk-gd5ZtYpEPstO_IZxO9rwOwHcw6FjktaFhsCpGGoFcei8a_Au8NQaMNf5t_cx7fSR46V=w1152-h768-no?authuser=0);
}
